
.vs/Projekt/FileContentIndex/d34f84aa-c1f4-4395-b9b7-57a5331108b0.vsidx
geckodriver.log
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Projekt/v17/.wsuo
.vs/Projekt/FileContentIndex/read.lock
.vs/ProjectSettings.json
